.contents{
    margin: 0 auto;
    text-align: center;
   
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
 color:white;
 max-width: 100%;
}

.instructions {
   margin:0 10%;


}
.todListCount {
    padding:5% 10% 2% 10%;
   
}

.addTask {
    width: 100%;
    margin:0 auto;
    padding:5% 15%;
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.add-controls {
display: flex;
background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
padding:5%;
    
}
.form-control {
    margin-right:3%;
}
button.Add {
    width:auto !important;
}
h2 {padding: 2%;}

.taskList_container {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top:3%;
    padding-left:15%;
    padding-bottom: 3%;

}
.item_container{  
  width: 100%;
   display: flex;
   flex-direction: row;  
   margin-left:5%; 
  
}
.item{
    display: flex;    
   flex-direction: column;
    margin-right:5%;
    width:57%;
    text-align: left;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    margin-top: 0.5rem;
    
}
.item_controller {
    width: 20%;
    margin-top:0.5rem;
    margin-left: 5%;
}
.item_controller>btn {
    margin-right:50px;
   
}
.taskname  {
    margin:5%;
    padding:2%
    
}

.editBox {
    width: 80%;
    margin:5%;
}
.updateButton {
    width:5rem;
    margin:5%;
}