.container {
   padding:5%;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    width:100%;
    height: 100vh;
    
}

h1.projectTitle {
    padding: 1rem;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}
.tableData {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.userInputs {
    display: flex;   
    padding:5%;   
    flex-direction:row;
    flex-wrap: wrap;
  
}
.userInputs > input {
    margin: 1rem;
}

.pre {
    padding-left: 5%;
    font-style: italic;
}